.TakeTest{
    background-color: #53a7a8;
    display: inline-block;
    width:200px;
    height: 40px;
    margin: 30px;
    border-radius: 20px;
    button{
        margin-top: 6px;
        margin-left: 10px;
        color:white;
        background: none;
        border:none;
        font-size: medium;
    }
}
.right-arrow{
    margin-left: 60px;
    font-size: medium;
    color: ghostwhite;
}